flows_intel-Edge-Gateway-5100.json
[{"id":"6e165b34.0b8b84","type":"tab","label":"Flow 1"},{"id":"4c5af43a.ee8f4c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a113e11b.868cf","type":"ttn app","z":"","appId":"lopygw","region":"eu","accessKey":"ttn-account-v2.5kEg8qXFXH1xCfPWCpSG35bWQiufwBAUz0XpwE0GVxo"},{"id":"a596237b.8475a","type":"mqtt-broker","z":"","broker":"demo.thingsboard.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c40ff7f8.231018","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"61e429bd.37fb18","type":"ui_group","z":"","name":"PDM","tab":"5a82e761.c70658","disp":true,"width":"6"},{"id":"5a82e761.c70658","type":"ui_tab","z":"","name":"PDM","icon":"dashboard"},{"id":"fa6135ac.fae908","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f32ba0d.541ee6","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"96c554d0.fdc938","type":"mqtt in","z":"6e165b34.0b8b84","name":"","topic":"lopygw/devices/+/up","qos":"0","broker":"4c5af43a.ee8f4c","x":116,"y":71,"wires":[["d88316bb.7f1088","29171faf.850d6"]]},{"id":"53744577.54ea8c","type":"mqtt in","z":"6e165b34.0b8b84","name":"","topic":"+/devices/+/events/activations","qos":"0","broker":"4c5af43a.ee8f4c","x":134,"y":311,"wires":[["3bb4a1e8.6880ce"]]},{"id":"c9bd01ae.1c063","type":"base64","z":"6e165b34.0b8b84","name":"Decode payload","x":112,"y":240,"wires":[["5e8ccdd.81efe34"]]},{"id":"d88316bb.7f1088","type":"function","z":"6e165b34.0b8b84","name":"parse lora payload","func":"var value = JSON.parse(msg.payload);\nmsg.payload = value.payload_raw;\nreturn msg;","outputs":1,"noerr":0,"x":117,"y":154,"wires":[["c9bd01ae.1c063"]]},{"id":"5e8ccdd.81efe34","type":"function","z":"6e165b34.0b8b84","name":"Payload","func":"msg.payload = msg.payload.toString();\n//msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":192,"wires":[["c177b16a.c01ca"]]},{"id":"29171faf.850d6","type":"function","z":"6e165b34.0b8b84","name":"Parse time and count","func":"var value = JSON.parse(msg.payload);\nmsg.payload = 'time;' + value.metadata.time + ';count;' + value.counter + ';devid;' + value.dev_id;\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":73,"wires":[["c177b16a.c01ca"]]},{"id":"c177b16a.c01ca","type":"join","z":"6e165b34.0b8b84","name":"Join parsed","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"payload","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":662,"y":110,"wires":[["70e8a8dc.ce2bd8","719a8886.6dfc98"]]},{"id":"d27507cd.32cb98","type":"http request","z":"6e165b34.0b8b84","name":"POST","method":"POST","ret":"txt","url":"http://192.168.2.40:9090/fid-SmartFarm","tls":"","x":575,"y":325,"wires":[["3bb4a1e8.6880ce"]]},{"id":"70e8a8dc.ce2bd8","type":"function","z":"6e165b34.0b8b84","name":"Atomiton post payload","func":"//var value = JSON.parse(msg.payload);\nvar str = msg.payload;\nvar res = str.split(\";\");\nvar post = {\n                \"LoraInterface\": {\n                                \"Data\": {\n                                        \"AgriRequest\": {\n                                                        \"time\": res[9],\n                                                        \"eui\": \"70B3D549941A09BA\",\n                                                        \"seqn\": res[11],\n                                                        \"sensorValues\": [{\n                                                                        \"id\": 1,\n                                                                        \"value\": res[1]\n                                                                        },{\n                                                                        \"id\": 2,\n                                                                        \"value\": res[3]    \n                                                                        },{\n                                                                        \"id\": 3,\n                                                                        \"value\": res[7]    \n                                                                        },{\n                                                                        \"id\": 4,\n                                                                        \"value\": res[5]    \n                                                                        },{\n                                                                        \"id\": 5,\n                                                                        \"value\": res[9]    \n                                                                        }]\n                                                       }\n                                        }\n                                }\n            };\nmsg.payload = post;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":651,"y":238,"wires":[["d27507cd.32cb98","719a8886.6dfc98"]]},{"id":"3bb4a1e8.6880ce","type":"debug","z":"6e165b34.0b8b84","name":"","active":false,"console":"false","complete":"true","x":620,"y":520,"wires":[]},{"id":"ae589092.41feb","type":"mqtt out","z":"6e165b34.0b8b84","name":"Actuation ","topic":"lopygw/devices/actuatenode/down","qos":"0","retain":"","broker":"4c5af43a.ee8f4c","x":333,"y":447,"wires":[]},{"id":"32d57f6.499db8","type":"inject","z":"6e165b34.0b8b84","name":"Button","topic":"lopygw/devices/+/down","payload":"{\"dev_id\":\"actuatenode\",\"port\":1,\"confirmed\":false,\"payload_raw\":\"AQIDBA==\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":117,"y":411,"wires":[["ae589092.41feb"]]},{"id":"8e4689a6.0bfc18","type":"ui_button","z":"6e165b34.0b8b84","name":"","group":"61e429bd.37fb18","order":0,"width":0,"height":0,"passthru":false,"label":"Actuate","color":"","bgcolor":"","icon":"","payload":"{\"dev_id\":\"actuatenode\",\"port\":1,\"confirmed\":false,\"payload_raw\":\"AQIDBA==\"}","payloadType":"json","topic":"","x":153,"y":585,"wires":[["ae589092.41feb"]]},{"id":"6fa6f52.40bda0c","type":"mqtt out","z":"6e165b34.0b8b84","name":"Publish To Dashboard","topic":"v1/devices/me/telemetry","qos":"","retain":"","broker":"a596237b.8475a","x":795,"y":415,"wires":[]},{"id":"36d51e5a.2aa002","type":"mqtt in","z":"6e165b34.0b8b84","name":"Gauge Read","topic":"gauge/reading","qos":"2","broker":"4c5af43a.ee8f4c","x":90,"y":1120,"wires":[["1474be3e.73f792","10306cf6.9b4053"]]},{"id":"a36d8a9d.ba6eb8","type":"mqtt out","z":"6e165b34.0b8b84","name":"Publish to ThingsBoard","topic":"v1/devices/me/telemetry","qos":"","retain":"","broker":"a596237b.8475a","x":675,"y":1209,"wires":[]},{"id":"1474be3e.73f792","type":"function","z":"6e165b34.0b8b84","name":"Publish Gauge Values","func":"message = {\n    \"reading\": msg.payload\n}\n\nmsg.payload = message\n\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":1196,"wires":[["a36d8a9d.ba6eb8","10306cf6.9b4053"]]},{"id":"10306cf6.9b4053","type":"debug","z":"6e165b34.0b8b84","name":"","active":false,"console":"false","complete":"false","x":622,"y":1119,"wires":[]},{"id":"719a8886.6dfc98","type":"debug","z":"6e165b34.0b8b84","name":"","active":true,"console":"false","complete":"true","x":886,"y":220,"wires":[]}]